* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.digi-clock-section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.read-more-section {
	@extend .digi-clock-section;
}

/* Create different style components */
@import "scss/clock";
@import "scss/readmore";
